<section id="about" class="download bg-primary text-center"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contents</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <!--<i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"></i>-->
                    <img src="/img/talk.png" height="200">
                    <h3><b>Conferences</b></h3>
                    <p >Talks will be about Free Software and Security. All the talks shall be given in English. The <b>2019 edition</b> hosted <b>26 talks</b>, grouped in <b>7 sessions</b>.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <!--<i class="fa fa-4x fa-desktop wow bounceIn text-primary"></i> -->
                    <img src="/img/workshop.png" height="200">
                    <h3><b>Workshops</b></h3>
                    <p >2019 Pass the SALT hosted <b>9 workshops</b> to discover new security free software projects. Network, theat intel and IAM. <br>Come to discover and practice!</p>
                </div>
            </div>
<!--            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div> -->
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <!--<i class="fa fa-4x fa-comments wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <img src="/img/portfolio/3.jpg" height="200">                   
                    <h3><b>Networking</b></h3>
                    <p >Exchange experiences and create new relationships with open minded attendees or speakers in a warm and open-minded ambiance.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <!--<h2 class="section-heading">The team</h2>-->
                <p><b>More information:</b> some <b>previous speakers</b>[<a href="https://www.pass-the-salt.org/achievements/#speakers-list">link</a>] | <b>collaborations</b> [<a href="https://www.pass-the-salt.org/achievements/#contributions">link</a>] born during the conference.</p>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
</section>
<section id="team"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The team</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                    <!--<i class="fa fa-4x fa-user-circle-o wow bounceIn text-primary"></i>-->
                    <!--<h3>Conferences</h3> -->
                    <img src="https://www.pass-the-salt.org/assets/images/team.jpg" width="400"><br><i>2018 organization team</i><br><br>
                    <p >Pass the SALT is brought to you by a small but enthusiast and dedicated team:<br />
                            core team : <a href="https://twitter.com/cbrocas">@cbrocas</a>, <a href="https://twitter.com/doegox">@doegox</a>, <a href="https://twitter.com/follc">@follc</a> and <a href="https://twitter.com/moutane">@moutane</a> <br />
                            on-site volunteers: <a href="https://twitter.com/eloisebrocas">@eloisebrocas</a>, <a href="https://twitter.com/cervoise">@acervoise</a>, <a href="https://twitter.com/cdpointpoint">@cdpointpoint</a>, <a href="https://twitter.com/PapaZours">@PapaZours</a> and <a href="https://twitter.com/sebdraven">@Sebdraven</a><br />
                            local Polytech contact: Benjamin Richez<br />
                            video team: <a href="https://twitter.com/ubicast_video">@ubicast_video</a><br /></p>
                </div>
            </div>
        </div>
    </div>
</section>
