<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                  <div class="header-content-inner">
			        <h1>
                        <b>Pass the SALT 2020</b><br />
                        <!--Security And Libre Talks.<br />-->
                        June 29-July 1 &#8212; VIRTUAL
                    </h1>
                    <!--<h2>
                        <b>A <i>free</i> Security & Free Software conference.</b>
                    </h2>-->
                    <br>
                    <h1><b>Free Software & Security</b><br>> talks only<br>> webinar format <br>> free event as in free beer<!--Building bridges between Security communities and Free Software hackers! <br>--></h1>
                        <a href="/coronavirus-statement/" class="btn btn-outline btn-xl page-scroll"> CORONAVIRUS - COVID 19 Final Statement </a>
                  </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                <!--    <div class="device-mockup iphone6_plus portrait white">
		<div class="device"> -->
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="/img/salt-2019-wh.png" width="65%" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
<!--		</div>
		</div> -->
                </div>
            </div>
        </div>
    </div>
</header>
