<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/#page-top">Home</a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="/#about">Contents</a>
                </li>
                <li>
                    <a class="page-scroll" href="/schedule/">Schedule</a>
                </li>                
                <li>
                    <a class="page-scroll" href="https://pretix.eu/passthesalt/2020/">Register</a>
                </li>
                <li>
                    <a class="page-scroll" href="/coronavirus-statement/">COVID19</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#sponsors">Sponsors</a>
                </li>
                <li>
                    <a class="page-scroll" href="/code-of-conduct/">Code of Conduct</a>
                </li>             
                <li>
                    <a class="page-scroll" href="https://www.pass-the-salt.org/">About and archives</a>
                </li>
<!--                <li>
                    <a href="/blog/">Blog</a>
                </li>

                {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                {% for pg in pages %}
                  <li>
                  {% if pg.lang == page.lang %}
                  <a href="{{ pg.url }}" style="color:#F05F40;" >{{ pg.lang }}</a>
                  {% else %}
                  <a href="{{ pg.url }}" >{{ pg.lang }}</a>
                  {% endif  %}
                  </li>
                {% endfor %} -->

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
