<section id="news" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!-- <h2 class="section-heading">News:</h2>
                  <ul>
                    {% assign posts=site.posts | where:"lang", page.lang %}
                    {% for post in posts reversed limit: 10 %}
                       <a style="color:orange" href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date_to_long_string }}<br />
                    {% endfor %}
                  </ul> -->
                <h2 class="section-heading">Timeline</h2>
                <p>2020 Pass the SALT has currently reached <span style="color:orange"> <b>this stage</b></span>:</p>
                <p>
                        November, 2019: announcement of the 2020 edition<br />
                        January, 2020: opening of the Call For Papers<br />
                        April 30, 2020: closing of the Call For Paper<br />
                        May 15, 2020: notification to the speakers</b></span><br />
                        May 30, 2020: publication of the program<br />
                        June, 2020: opening of the booking interface<br />
                        June 29 to July 1, 2020 : the conference :-)<br />
                        <span style="color:orange"><b>Conference is now over. Slides and videos are available.</b></span>
<!--                    <a class="badge-link" href="#"><img src="/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a> -->
                </div>
            </div>
        </div>
    </div>
</section>
