<!--<header id="header" class="intro-header bg-primary text-center" >-->

<section  id="post">
<div class="container" >
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
<!--                <h2 class="section-heading">Timeline</h2>
                <hr class="light">
                <p class="text-faded">
                <b>What and when ?</b><br><br>-->
                {{ content }}
<!--                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
