<section id="words" class="download text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Your Feedback</h2>
                <br />
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="row">
<!--                <div class="col-lg-2  text-center">
                </div>-->
                <div class="col-lg-6 text-center">
                    <p class="text-muted"><a href="https://twitter.com/orange_8361/status/1146364203390947330"><img src="/img/orange.png"  alt="Orange Tsai"></a></p>
                    Orange Tsaï, principal security researcher at DEVCORE.<br> Best server side bug of @PwnieAwards 2019 winner with @mehqq_. 
                </div>
                <div class="col-lg-6  text-center">
                    <p class="text-muted"><a href="https://twitter.com/angealbertini/status/1147805786351054849"><img src="/img/ange.png" alt="Ange Alnertini"></a></p>
                    Ange Albertini, security reasearcher at Google. <br>Member of the team which broke SHA-1. 
                </div>
            </div>
            <br>
            <div class="row">    
                <div class="col-lg-6  text-center">
                    <p class="text-muted"><a href="https://twitter.com/d4_project/status/1146400026194825216"><img src="/img/d4.png" alt="D4 project"></a></p>
                    D4 project led by the CIRCL team, the CERT LU for private sector.
                </div> 
                <div class="col-lg-6  text-center">
                    <p class="text-muted"><a href="https://twitter.com/H_Miser/status/1146089374565752833"><img src="/img/hmiser.png" alt="Proxmark"></a></p>
                    @H_Miser, IR engineer at CERT Société Générale.
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
