<section id="sponsors" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sponsors</h2>
                <br />
            </div>
        </div>
    </div>
    <hr style="height: 8px; color: #839D2D; background-color: #839D2D; width: 70%; border: none;">
    <br>
      <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-diamond wow bounceIn text-primary"></i><i class="fa fa-3x fa-diamond wow bounceIn text-primary"></i><i class="fa fa-3x fa-diamond wow bounceIn text-primary"></i>
                    <h3>PLATINUM sponsors</h3>
                    <br>
                    <p class="text-muted"><a href="https://vates.fr/"><img src="/img/vates-logo.png" height="93" width="361" alt="Vates"></a></p> 
                    <hr style="height: 2px; color: #839D2D; background-color: #839D2D; width: 20%; border: none;">
                    <br>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-2x fa-diamond wow bounceIn text-primary"></i><i class="fa fa-2x fa-diamond wow bounceIn text-primary"></i>
                    <h3>GOLD sponsors</h3>
                    <br>
                </div>
            <div class="row">
                <div class="col-lg-2  text-center">
                </div>
                <div class="col-lg-4 text-center">
                    <p class="text-muted"><a href="https://g.co/SecurityPrivacyEngJobs"><img src="/img/Google.png" height="61" width="189" alt="Google"></a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <p class="text-muted"><a href="https://www.quarkslab.com/"><img src="/img/quarkslab.png" height="73" width="285" alt="Quarkslab"></a></p>
                </div>
                <div class="col-lg-2 text-center">
                </div> 
            </div>
            <div class="row">
                <div class="col-lg-2  text-center">
                </div>
                <div class="col-lg-4  text-center">
                    <p class="text-muted"><a href="https://ssi.gouv.fr/"><img src="/img/anssi.png" height="140" width="140" alt="ANSSI"></a></p>
                </div> 
		        <div class="col-lg-4  text-center">
                    <p class="text-muted"><a href="https://github.com/societe-generale"><img src="/img/logo-societe-generale.png" height="62" width="250" alt="CERT Societe Generale"></a></p>
                </div>
                <div class="col-lg-2 text-center">
                </div> 
            </div>
            <div class="col-lg-12 col-md-12 text-center">
              <hr style="height: 2px; color: #839D2D; background-color: #839D2D; width: 20%; border: none;">
              <br>
            </div>
            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-2x fa-diamond wow bounceIn text-primary"></i>
                    <h3>SILVER sponsors</h3>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2  text-center">
                </div>
                <div class="col-lg-8  text-center">
                    <p class="text-muted"><a href="https://www.synacktiv.com/"><img src="/img/logo_synacktiv_noir.png" width="300" alt="Synacktiv"></a></p>
                </div>
<!--                <div class="col-lg-4 text-center">
                    <p class="text-muted"><a href="https://g.co/SecurityPrivacyEngJobs"><img src="/img/Google.png" height="61" width="189" alt="Google"></a></p>
                </div>-->
                <div class="col-lg-2  text-center">
                </div>
            </div> 
            <br>
            <!--<div class="row">
                <div class="col-lg-1  text-center">
                </div>
                <div class="col-lg-3  text-center">
                    <p class="text-muted"><a href="https://suricata-ids.org/"><img src="/img/suricata.png" height="104" width="180" alt="Suricata"></a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <p class="text-muted"><a href="https://payatu.com/"><img src="/img/payatu.png" height="70" width="250" alt="Payatu"></a></p>
                </div>
                <div class="col-lg-3  text-center">
                    <p class="text-muted"><a href="https://www.ossir.org/"><img src="/img/ossir.png" height="200" width="150" alt="OSSIR"></a></p>
                </div>
                <div class="col-lg-1  text-center">
                </div>
            </div>
-->
            <div class="col-lg-12 col-md-12 text-center">
              <hr style="height: 2px; color: #839D2D; background-color: #839D2D; width: 20%; border: none;">
              <br>
            </div> 

            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-3x fa-home wow bounceIn text-primary"></i></i> &nbsp; &nbsp; <i class="fa fa-3x fa-address-card wow bounceIn text-primary"></i> -->
                    <h3>Support</h3>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-center">
                    <p class="text-muted"><a href="http://www.pretix.eu/"><img src="/img/pretix.svg" height="110" width="254" alt="Pretix"></a></p>
                </div>
                <div class="col-lg-4  text-center">
                    <p class="text-muted"><a href="https://www.ubicast.eu/"><img src="/img/ubicast.png" height="72" width="265"  alt="Ubicast"></a></p>
                </div>
                <div class="col-lg-4  text-center">
                    <p class="text-muted"><a href="https://www.univ-lille.fr/"><img src="/img/univ-lille.png" height="155" width="360"  alt="Lille university"></a></p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 text-center">
              <hr style="height: 2px; color: #839D2D; background-color: #839D2D; width: 20%; border: none;">
              <br>
            </div>

            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                    <!--<i class="fa fa-3x fa-server wow bounceIn text-primary"></i> &nbsp; &nbsp; <i class="fa fa-3x fa-expeditedssl wow bounceIn text-primary"></i> -->
                    <p class="text-muted"><br>TLS certificate by <a href="https://letsencrypt.org/">Let's Encrypt</a>. Thanks fo that!</p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                  <hr style="height: 8px; color: #839D2D; background-color: #839D2D; width: 70%; border: none;">
                  <br>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-file wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <p class="text-muted"><br>Resources : <a href="/files/sponsors/dossier-sponsoring-2020-en.pdf">EN sponsoring document</a> | <a href="/files/sponsors/dossier-sponsoring-2020.pdf">FR sponsoring document</a> </p>
                </div>
            </div>
        </div>
    </div>
</section>
